<div class="landing-page">
  <section class="hero">
    <div class="hero-text">
      <h1>A comprehensive platform for reliable
        <h2 class="text-white transition-text">job opportunities and internships.</h2>
        <h5 class="text-white">Get Discovered. Get Hired.</h5>
        <div class="cta-buttons">
          <a href="/jobs" class="btn btn1">I'm A Job Seeker</a>
          <a href="#" class="btn btn2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">I'm A
            Recruiter</a>
        </div>
    </div>
    <div class="hero-image">
      <img src="https://easily-deploy.onrender.com/images/banner.png" alt="Landing Banner">
    </div>
  </section>
  <%- include('../partials/register-modal') %>
</div>